/*Layout============*/
.main-header {
color: white;
background-color: black;
flex-direction: row;
justify-content: flex-start;

}

.navMenu, .nav {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 20px;
}







/* Media Queries=========*/
@media (min-width: 769px) {

  .main-header {
    position: fixed;
    background: #000000;
    width: 100%;
    top: 0
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
}
